In [1]:
import random
import pandas as pd

In [2]:
df = pd.read_csv('data/origin_padded_sliced_train.csv')

In [3]:
df.describe()

               fake          real
count  62724.000000  62724.000000
mean       0.443722      0.556278
std        0.496827      0.496827
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      1.000000
75%        1.000000      1.000000
max        1.000000      1.000000

In [4]:
zero_one_rows = df[(df['fake'] == 0) & (df['real'] == 1)]
one_zero_rows = df[(df['fake'] == 1) & (df['real'] == 0)]
#one_one_rows = df[(df['fake'] == 1) & (df['real'] == 1)]

# 각각의 절반 크기
zero_one_half = len(zero_one_rows) // 2
one_zero_half = len(one_zero_rows) // 2
#one_one_half = len(one_one_rows) // 2

# 반반씩 추출
sampled_zero_one = zero_one_rows.sample(n=zero_one_half, random_state=45)
sampled_one_zero = one_zero_rows.sample(n=one_zero_half, random_state=45)
#sampled_one_one = one_one_rows.sample(n=one_one_half, random_state=45)

In [5]:
sampled_one_zero.describe()

          fake     real
count  13916.0  13916.0
mean       1.0      0.0
std        0.0      0.0
min        1.0      0.0
25%        1.0      0.0
50%        1.0      0.0
75%        1.0      0.0
max        1.0      0.0

In [6]:
sampled_zero_one.describe()

          fake     real
count  17446.0  17446.0
mean       0.0      1.0
std        0.0      0.0
min        0.0      1.0
25%        0.0      1.0
50%        0.0      1.0
75%        0.0      1.0
max        0.0      1.0

In [27]:
sampled_one_one.describe()

          fake     real
count  15000.0  15000.0
mean       1.0      1.0
std        0.0      0.0
min        1.0      1.0
25%        1.0      1.0
50%        1.0      1.0
75%        1.0      1.0
max        1.0      1.0

In [7]:
n = pd.concat([sampled_one_zero, sampled_zero_one])
n.to_csv('origin_padded_sliced_for_noise.csv.csv', index=False)

In [17]:
import os
words = os.listdir('cut_noise')
filtered_words = [word for word in words if "seed34_0" in word]

In [18]:
len(filtered_words)

100

In [19]:
pd.DataFrame(filtered_words).to_csv('noise_for_add.csv', index=False)